In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
data.info

<bound method DataFrame.info of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]>

In [4]:
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [14]:
data.sort_values("Defense",ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False

In [18]:
defense_mean = data["Defense"].mean()

def defense_val_set(value):
    if value > defense_mean:
        return "High defense"
    elif value == defense_mean:
        return "Neutral defense"
    else:
        return "Low defense"
    
hp_mean = data["HP"].mean()

def hp_val_set(value):
    if value > hp_mean:
        return "High HP"
    elif value == hp_mean:
        return "Neutral HP"
    else:
        return "Low HP"
data["Defense_high_low"] = data["Defense"].apply(defense_val_set)
data["HP_high_low"] = data["HP"].apply(hp_val_set)
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Defense_high_low,HP_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Low defense,Low HP
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Low defense,Low HP
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,High defense,High HP
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,High defense,High HP
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Low defense,Low HP

In [20]:
data.groupby("Type 2").groups

{'Bug': [379, 380, 501], 'Dark': [141, 267, 268, 297, 298, 347, 348, 349, 363, 374, 482, 483, 490, 502, 611, 612, 613, 726, 743, 798], 'Dragon': [7, 196, 249, 275, 360, 361, 540, 541, 544, 545, 694, 695, 696, 761, 766, 767, 790, 791], 'Electric': [184, 185, 656, 657, 679, 707], 'Fairy': [44, 45, 131, 188, 198, 199, 303, 304, 305, 306, 322, 328, 329, 366, 487, 591, 606, 607, 772, 773, 777, 795, 796], 'Fighting': [67, 163, 231, 232, 277, 278, 279, 310, 436, 437, 476, 503, 504, 526, 527, 558, 559, 620, 621, 699, 700, 701, 713, 714, 716, 720], 'Fire': [246, 247, 248, 424, 532, 553, 668, 669, 670, 697, 698, 706], 'Flying': [6, 8, 15, 20, 21, 22, 23, 26, 27, 46, 47, 90, 91, 92, 132, 137, 140, 153, 154, 156, 157, 158, 161, 177, 178, 179, 180, 183, 190, 191, 192, 202, 203, 204, 208, 213, 222, 243, 244, 245, 269, 270, 290, 299, 300, 301, 302, 308, 315, 364, 365, 390, 408, 409, 425, 426, 441, 442, 443, 461, 462, 463, 472, 473, 478, 489, 508, 519, 520, 523, 535, 551, 578, 579, 580, 586, 587, 622, 627, 628, 641, 642, 648, 688, 689, 690, 691, 704, 705, 708, 709, 729, 730, 731, 734, 771, 793], 'Ghost': [316, 326, 327, 530, 531, 653, 654, 683, 684, 748, 749, 750, 751, 797], 'Grass': [51, 52, 271, 293, 294, 295, 377, 378, 458, 536, 600, 601, 602, 646, 647, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787], 'Ground': [36, 39, 80, 81, 82, 103, 209, 210, 223, 224, 238, 239, 265, 266, 281, 282, 283, 314, 352, 353, 354, 371, 372, 434, 459, 470, 491, 492, 493, 494, 524, 596, 597, 728, 794], 'Ice': [94, 98, 142, 233, 509, 510, 511, 512, 534, 710, 711, 712, 768, 769], 'Normal': [735, 736, 764, 765], 'Poison': [0, 1, 2, 3, 16, 17, 18, 19, 48, 49, 50, 53, 54, 75, 76, 77, 78, 79, 99, 100, 101, 102, 181, 182, 227, 292, 344, 451, 452, 603, 604, 605, 651, 652], 'Psychic': [85, 86, 87, 110, 111, 130, 133, 214, 218, 257, 334, 335, 336, 369, 370, 375, 376, 410, 411, 412, 413, 417, 418, 419, 420, 427, 484, 485, 616, 715, 723, 756, 757], 'Rock': [119, 120, 230, 237, 240, 330, 331, 332, 404, 515, 618, 619, 625, 626], 'Steel': [88, 89, 220, 228, 229, 440, 455, 456, 460, 497, 498, 513, 528, 542, 589, 650, 658, 659, 685, 686, 693, 717], 'Water': [149, 150, 151, 152, 307, 398, 399, 400, 445, 533, 758, 759, 760, 799]}